body {
     font-family: Arial, sans-serif;
     line-height: 1.6;
     color: #333;
     background-color: #f0f8ff;
}

nav a {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.carre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.projets {

}

.container {
     background-color: rgb(255, 255, 255);
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px 0;
}

header {
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    position: sticky;
}

.titre {
    text-align: center;
}

#contact {
  background-color: #f8f9ff;
  padding: 60px 20px;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

footer {
    text-align: center;
}

.logo img {
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}